/* Same background as in application frontend */
.login-pf body {
    background: url("/public/map-bg.png") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

/* Display the terms in full height */
#kc-registration-terms-text {
    max-height: none;
}

/* Display the label "I agree to the terms..." always right of the checkbox, also when the text is longer */
.pf-c-form__label-text {
    display: inline;
}

#kc-header-wrapper {
    /* Don't display the Realm Name in uppercase letters on Login page */
    text-transform: none;
    /* Center */
    text-align: center;
}

#kc-header {
    /* Reduce empty space on top */
    margin-block-start: 0;
}

/* Display the footer links horizontally, more compact */
#kc-login-footer-links {
    text-align: center;
    padding: 2em;
}
#kc-login-footer-links li{
    display: inline-block;
}

/* Display all in one column instead of header and content side-by-side */
.pf-v5-c-login__container {
    grid-template-columns: 34rem;
    grid-template-areas: "header"
                         "main"
}

/* Use full with for "Sign in to your account" header, otherwise the line breaks for no visible reason */
@media (min-width: 768px) {
    div.pf-v5-c-login__main-header {
        grid-template-columns: 70% 30%;
    }
}

/* Don't display horizontal line  */
#kc-registration-container {
    border: 0;
}

/* Don't lower the font size, the registration button show be clearly visible. */
#kc-info-wrapper {
    font-size: inherit;
}

/* Reduce the empty space of the "New user? Register" container */
#kc-registration-container {
    padding: 0;
}
