/* set layout, colors and font */
#app {
    width: 835px;
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
}
#page-sidebar {
    background-color: #f5f5f5;
    color: rgb(15, 87, 138);
}
a, .pf-v5-c-nav__link.pf-m-current, .pf-v5-c-nav__link {
    color: rgb(15, 87, 138);
    background-color: white;
}

/* hide keycloak header */
[data-testid="page-header"] {
    display: none;
}

/* disable right navigation sidebar */
.pf-v5-l-grid__item.pf-m-12-col-on-sm.pf-m-4-col-on-md {
    display: none;
}
/* give the main block all the available space */
.pf-v5-l-grid__item.pf-m-12-col-on-sm.pf-m-8-col-on-md {
    grid-column-end: span 12;
}

/* Always show the left navigation menu */
.pf-v5-c-page__sidebar.pf-m-collapsed {
    max-width: none;
    /* 370px would be the same width as in the main appliation, but then the main content is too narrow */
    width: 270px;
}

/* hide "Applications" in navigation */
li[data-ouia-component-id="OUIA-Generated-NavItem-4"] {
    display: none;
}

/* Same background as in application frontend */
body {
    background-image: url(/public/map-bg.png);
    background-size: cover;
}
